.add-button {
  width: 360px;
  height: 50px;
  margin: 35% 0 0 0;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
}

.listview-container {
  position: relative;
  height: auto;
  border: solid 20px #E1E1E6;
}
