.preview-container {
  position: relative;
  background-color: #fff;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  border-bottom: 2px solid #EDEDF2;
  height: auto;
  padding: 0 0 10px 0;
}

.preview-container a {
  color: #1B1D1F;
  padding: 6px;
  margin: 0;
}

.preview-container h4 {
  padding: 6px 3px 0 6px;
  color: #1B1D1F;
  margin: 0;
}

.preview-container p {
  padding: 3px 3px 3px 6px;
  color: #979798;
  margin: 0;
}


.preview-title {
  flex-direction: column;
  width: 400px;
}

.preview-info {
  display: flex;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  background-image: url("../assets/waste-bin.svg");
  background-size: cover;
  height: 25px;
  width: 25px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 225px;
  top: 15px;
}

.dropdown {
  background-color: #EDEDF2;
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 270px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.dropdown h3 {
  margin: 8px 10px 10px 15px;
}

.down {
  max-width: 400px;
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
}

.up {
  display: none;
}
